.menu {
  background: #ffea92;
  margin-top: 8vh;
  height: 92vh;
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}

.logged_in {
  padding: 2em 0em 0em 2em;
}

h4 {
  margin-top: -1vh;
  padding: 0em 0.5em 2em 1.8em;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 2em 0;
  margin: 0;
}

.label {
  font-size: 0.95em;
  font-weight: 400;
}

li {
  padding: 0.7em 0em 0em 1.8em;
  font-size: 1.2em;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
  list-style-type: none;
  text-transform: uppercase;
}

.top {
  height: 8vh;
  background-color: #ffd922;
}

.logo {
  margin-top: 1.5vh;
  margin-left: 2vh;
}

.top-mid {
  height: 1vh;
  background-color: rgba(0, 0, 0, 0.02);
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #4e4e4e;
}

.confirmation_table {
  border-collapse: collapse;
  border-spacing: 10px;
  border: 1px solid #a3a3a3;
  padding: 10px;
  max-width: 35vw;
}

.confirmation_p {
  padding-left: 10px;
}

body {
  background: #f5f5f0;
}

.main {
  max-width: 60vw;
  max-height: 90vh;
  min-width: 20vw;
  min-height: 50vh;
  padding: 20px;
  border: 1px solid #d8d8d8;
  background: #fff;
  margin-top: 4vh;
}
