.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: jannscript;
  src: url(./fonts/jannscript.otf);
}

@font-face {
  font-family: barrio;
  src: url(./fonts/Barrio-Regular.otf);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0%{transform: rotate(0deg);}
  25%{transform: rotate(20deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(-20deg);}
  100%{transform: rotate(0deg);}
}

a {
  font-family: jannscript;
  color: gray;
  font-size: 18px;
  text-decoration:none; 
}

p {
  font-family: barrio;
  font-size: 26px;
  color: #525252;
}

.icons {
  font-size:6px; 
  text-decoration:none; 
  color: white;
}

.icon_social {
opacity: .59;
}
